@font-face {
  font-family: "Open Sans";
  src: url(./../fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(./../fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
