@import "./fonts.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;

  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://a-static.besthdwallpaper.com/beautiful-sea-shore-background-wallpaper-2048x1536-11225_26.jpg");
  background-size: 100vw 100vh;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;

  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: aliceblue;
}

input,
.messageSubject {
  border: none;
  height: 30px;
}

label {
  width: 200px;
}
.userContactForm {
  position: relative;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
  max-width: 55%;
  width: 100%;
  min-width: 50%;

  height: 75vh;

  margin: auto;
  border: 1px solid black;
  box-shadow: 0px 5px 15px black;
}

.flexContainerMini {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexContainerMini > input,
.flexContainerMini > select {
  flex-grow: 1;
  /* width: 100%; */
  margin: auto;
}

.submit {
  padding: 10px 40%;
  align-self: flex-end;
  border: 2px solid white;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  box-shadow: 0px 0.5px 3px white;
}
.userContactForm::before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: white;
  bottom: 70px;
  left: 30px;
}
