@import "./../css/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://a-static.besthdwallpaper.com/beautiful-sea-shore-background-wallpaper-2048x1536-11225_26.jpg");
  background-size: 100vw 100vh;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;

  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: aliceblue;
}

input,
.messageSubject {
  border: none;
  height: 30px;
  border-radius: 3px;
}

input {
  padding-left: 10px;
}

.userContactForm {
  position: relative;
  padding: 0 30px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  max-width: 700px;
  width: 100%;
  min-width: 320px;
  height: 75vh;
  min-height: 500px;

  border: 1px solid black;
  box-shadow: 0px 5px 15px black;
}

.flexContainerMini {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.messageSubject,
.userTextMessage {
  color: rgb(26, 26, 82);
}

.submit {
  padding: 10px 35%;
  align-self: flex-end;
  border: 2px solid white;

  font-family: inherit;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  box-shadow: 0px 0.5px 3px white;
}

.userContactForm::before {
  content: "";

  position: absolute;
  align-self: center;
  bottom: 14%;

  width: calc(100% - 60px);
  height: 1px;
  background-color: white;
}

.flexContainerMini > label {
  min-width: 150px;
  max-width: 150px;
  flex-grow: 1;
}

.flexContainerMini > input,
.flexContainerMini > select {
  flex-grow: 2;
}

.userPhone,
.userPhone-2 {
  flex-grow: 2;
  max-width: 22%;
}

.userPhone-3 {
  flex-grow: 3;
  max-width: 30%;
  margin-left: auto;
}

.userPhone-2,
.userSurname {
  margin-left: auto;
  flex-grow: 2;
}
.userName,
.userSurname {
  flex-grow: 2;
}

label {
  width: 100%;
}

.userName,
.userSurname {
  max-width: 37%;
}

.userNameLabel {
  width: 25%;
}

.userTextMessage {
  width: unset;
  height: 50px;
  flex-grow: unset;
  overflow: scroll;
  text-overflow: clip;
}

/*  pseudo-classes  */

label:hover,
a:hover {
  cursor: pointer;
  color: navy;
}

input:focus,
input:empty {
  outline: none;
  border: none;
}

input:invalid {
  border-bottom: 2px solid orangered;
}

input:valid {
  border-bottom: 2px solid navy;
}

.submit:hover {
  border: 2px solid navy;
  box-shadow: 0px 0.5px 3px navy;
}

select:focus {
  outline: none;
}
